# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db